extends layout

block content
  h2 Homepage!
  p(id="introtext") Welcome to Mediocre Burger, home of the world's most mediocre burgers.
  div(id="wrapper")
    div(id="burgerblock")
      a(href="/burgers")
        img(class="homepageimage" src=images.homepage["burger"][0])      
      p(id="homepageP")=images.homepage["burger"][1]
    div(id="sliderblock")
      a(href="/drinks")
        img(class="homepageimage" src=images.homepage["drink"][0])
      p(id="homepageP")=images.homepage["drink"][1] 
    div(id="dessertblock")
      a(href="/desserts")
        img(class="homepageimage" src=images.homepage["dessert"][0])
      p(id="homepageP")=images.homepage["dessert"][1]
  